%h1 Add User
- if @errors
  #form_errors
    %h2 You had the following errors
    - @errors.full_messages.each do |f|
      %p= f
#user
  %form{:action => '/users/add', :method => 'post'}
    = haml :_input, :locals => {:name => 'name', :label => 'Your name', :type => 'text'}
    = haml :_input, :locals => {:name => 'email', :label => 'Your email', :type => 'text'}
    = haml :_input, :locals => {:name => 'password', :label => 'Your password', :type => 'password'}
    = haml :_input, :locals => {:name => 'password_confirmation', :label => 'Confirm your password', :type => 'password'}
    %p
      %input{:type => 'submit', :value => 'Create user'}
